* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: #f4f4f4; */
    background-image: linear-gradient(to right,rgb(214, 238, 239),rgb(201, 231, 240));
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 60%;
    padding: 10px;
    font-size: 24px;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
}

button {
    padding: 10px 20px;
    font-size: 24px;
    background-color: #1eae1e;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
button:hover{
    background-color: #1eae1ec1;
    color: #f9eeee;
}
ul {
    list-style: none;
    margin-top: 20px;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-size: 20px;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

li:hover {
    background-color: #cac8c8;
    /* color: white; */
}

.delete {
    padding: 5px 10px;
    background-color: #ff3d00;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete:hover {
    background-color: #ff3c00d5;
}