body,
html {
  margin-top: 0px;
  height: 100%;
  background-color: black;
  background-image: url("./pizza-bg.png");
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background-position: center;
  background-repeat: no-repeat;
}

.topSection {
  padding-top: 60px;
  background-size: cover;
  width: 100%;
  height: 20vh;
}

.orderSection {
  text-align: center;
}
.right-side-container {
  background: rgba(425, 400, 550, 0.8);
  border-radius: 15px;
  -moz-border-radius: 15px;
}

h1 {
  background-color: white;
  font-size: 70px;
  padding-left: 40px;
  font-style: italic;
  font-weight: bolder;
  font-family: fantasy;
  text-decoration-style: dotted;
}

h2 {
  background-color: white;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 30px;
  font-family: cursive;
  font-weight: bold;
  text-underline-position:below;
  }

h6 {
  background-color: white;
  text-align: right;
  padding-right: 40px;
  font-weight: 600;
}

p {
  font-style: italic;
  font-family: monospace;
}
.left-side-container {
  background: rgba(425, 400, 550, 0.5);
  border-radius: 25px;
  -moz-border-radius: 15px;
  float: left;
}

.radio {
  display: inline-block;
  text-indent: 10px;
}

.orderProcess {
  text-align: left;
}
